################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/MOB.Backend/EntryPoint/obj
/Backend/MOB.Backend/API/bin
/Backend/MOB.Backend/API/obj
/Backend/MOB.Backend/.vs